---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Compose your own tastesession",
    description:
      "You decide the theme for your session. Choose what beers you are tasting, and what parameters you are messuring by.",
    icon: "mdi:handshake",
  },
  {
    title: "Fits for every party",
    description:
      "After the session is made, you can invite as many as you like by sharing the pin. There's no limit on how many tasters that can join you in your adventure.",
    icon: "mdi:feather",
  },
  {
    title: "Scoring by FaceDice",
    description:
      "You will be scoring every beer by your own selected parameters, but in addition you get to score the beer with your face.",
    icon: "mdi:directions-fork",
  },
  {
    title: "Find the favourite",
    description:
      "When the session is done you get a highscore of all beers tasted.",
    icon: "mdi:graph",
  },
  {
    title: "Collage of taste",
    description:
      "You get a collage of all the FaceDice's from the best and worst beer in the tastesession.",
    icon: "mdi:search-web",
  },
  {
    title: "More features coming",
    description:
      "There will be many more exciting features coming soon.",
    icon: "mdi:account-group",
  },
];
---

<ContentSection title="Features" id="features">
  <Fragment slot="lead">
    Slurp comes <span class="text-primary">packed with</span> potential for memories with friends and family. It takes
    the best parts of 
    <span class="text-primary">beertasting</span> and 
     adds its own <span class="text-primary">innovations</span>.
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="h-16 w-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
