---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Make taste fun" id="intro">
  <Icon slot="eyebrow" name="beer" class="h-32" />
  <Fragment slot="lead">
    We think that the experience of
    <span class="text-primary">taste</span> and
    <span class="text-primary">atmosphere</span>
    is closely linked. 
    <span class="text-primary">Fun</span> evenings makes for fun taste.
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
{/*Generated using https://tools.applemediaservices.com/app-store/*/}
<a class="inline-block h-16" href=""><img class="p-2.5 h-16" src="https://tools.applemediaservices.com/api/badges/download-on-the-app-store/black/en-us?size=250x83&amp;releaseDate=1669593600?h=626b1333341609700e14944b609ea886" alt="Download on the App Store"/></a>
{/*Generated using https://play.google.com/intl/en_us/badges/*/}
<a class="inline-block" href='https://play.google.com/store/apps/details?id=com.codemos.slurp'><img alt='Get it on Google Play' class="h-16" src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png'/></a>
  </div>
</ContentSection>
